.about{
    background-color: #200E36;
    color: white;
    padding: 100px;
    margin: 0;
    
}
.semi-header{
    margin-bottom: 20px;
}

.social-icon a{
    color: white;
    padding: 3px;

}

.social-icon span{
  background-color: rgba(87, 86, 86, 0.637);
  margin-right: 5px;
  padding: 10px;
  border-radius: 3px;
}

.explore a{ color: white;
           text-decoration: none; }

